<div class="container">


  <div class="container">

    <button pButton type="button" label="Voltar" routerLink="/almoxarifado"></button>

    <div class="ui-g">
      <form autocomplete="off" (ngSubmit)="listarCores()">
        <div class="ui-g-12">
          <h1>Cadastro de Cores</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Descrição</label>
          <input pInputText type="text" [(ngModel)]="filtro.descricao" name="descricao">
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
      </form>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="cores" [paginator]="true" [rows]="filtro.itensPorPagina"
        [responsive]=true [lazy]=true emptyMessage="Nenhum encontrado"
        [totalRecords]=totalRegistros (onLazyLoad)=proximaPagina($event)>
        <ng-template pTemplate="header">
          <tr>
            <th>Descrição</th>
            <th class="col-data-header">Status</th>
            <th class="col-data-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-cor>
          <tr>
            <td>{{cor.descricao}}</td>
            <td>
              <a href="javascript:;" [pTooltip]="cor.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="ativarCor(cor)" [style.color]="cor.ativo === true ? 'blue' : 'red'">
                {{ cor.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/almoxarifado/cores', cor.codigo]"></button>
              <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(cor)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
  <div class="ui-g-12">
    <a pButton label="Nova Cor" routerLink="/almoxarifado/cores/nova"></a>
  </div>
</div>
