/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  }
label {
    font-weight: bold;
  }
@media (min-width: 1200px) { /*MediaQueries condicionais a partir de 1200px ele aplica essa regra */
  .container {
  width: 1170px;
  margin: 0 auto;
  }
}
