<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" width="425" #cd  >
    <p-footer>
        <button type="button" pButton icon="fa fa-check-circle" label="Sim" (click)="cd.accept()"></button>
        <button type="button" pButton icon="fa fa-times-circle" label="Não" (click)="cd.reject()"></button>
    </p-footer>
  </p-confirmDialog>

  <p-growl [(value)]="msgs"></p-growl>
