<div class="container">
  <button pButton type="button" label="Voltar" routerLink="/almoxarifado"></button>

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{isEditando ? 'Edição de': 'Nova'}} Classificação</h1>
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Código</label>
        <input pInputText type="number" [(ngModel)]="classificacao.codigo" name="classificacao.codigo">
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" [(ngModel)]="classificacao.descricao" name="classificacao.descricao">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
      </div>
    </div>

  </form>
</div>
