<div class="container">
  <p-tabView>
      <p-tabPanel header="Almoxarifado" >
          <app-menu-almoxarifado></app-menu-almoxarifado>
      </p-tabPanel>
      <p-tabPanel header="Balanceamento">

      </p-tabPanel>
      <p-tabPanel header="PPCP">

      </p-tabPanel>
  </p-tabView>
</div>
