<div class="container">

  <button pButton type="button" label="Voltar" routerLink="/almoxarifado"></button>

  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="listarClassificacoes()">
      <div class="ui-g-12">
        <h1>Cadastro de Classificações</h1>
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Código</label>
        <input pInputText type="number" [(ngModel)]="filtro.codigo" name="codigo">
      </div>

      <div class="ui-g-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" [(ngModel)]="filtro.descricao" name="descricao">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

</div>

<div class="ui-g">
  <div class="ui-g-12">
    <p-table [value]="classificacoes" [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]=true [lazy]=true emptyMessage="Nenhum encontrado"
      [totalRecords]=totalRegistros (onLazyLoad)=proximaPagina($event)>
      <ng-template pTemplate="header">
        <tr>
          <th class="col-data-header">Código</th>
          <th>Descrição</th>
          <th class="col-data-header">Status</th>
          <th class="col-data-header"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-classificacao>
        <tr>
          <td class="col-acoes">{{classificacao.codigo}}</td>
          <td>{{classificacao.descricao}}</td>
          <td>
            <a href="javascript:;" [pTooltip]="classificacao.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="ativarClassificacao(classificacao)"
              [style.color]="classificacao.ativo === true ? 'blue' : 'red'">
              {{ classificacao.ativo ? 'Ativo' : 'Inativo' }}
            </a>
          </td>
          <td class="col-acoes">
            <button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/almoxarifado/classificacoes', classificacao.codigo]"></button>
            <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(classificacao)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
<div class="ui-g-12">
  <a pButton label="Nova Classificacao" routerLink="/almoxarifado/classificacoes/nova"></a>
</div>
