<div class="container">
  <div class="ui-g">
    <div class="ui-md-6 ui-g-12 ">
      <p-chart type="doughnut" [data]="data"></p-chart>
    </div>
    <div class="ui-md-6 ui-g-12">
      <p-chart type="line" [data]="dataLines" (onDataSelect)="selectData($event)"></p-chart>
    </div>
  </div>


</div>
